<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3" translate="aside.nav.MATERIAL.CATEGORY_LIST">CATEGORY_LIST</h1>
</div>
<div class="wrapper-md" ng-controller="CategoryListCtrl">
    <div class="panel panel-default">
        <div class="panel-body b-b b-light">
            <span translate="public.SEARCH">SEARCH</span>： <input id="filter" type="text" class="form-control input-sm w-sm inline m-r"/>
            <span class="pull-right">
                <button class="btn btn-success btn-sm" ng-click="openCateModal(0,'')">添加</button>
                <span class="btn btn-primary btn-sm" ng-click="sortCate()">排序</span>
            </span>
        </div>
        <div ng-show="!ShowListFlag">
            <table class="table m-b-none"  ui-jq="footable" data-filter="#filter">
                <thead>
                    <tr>
                        <th><nobr>编号</nobr></th>
                        <th><nobr>素材类</nobr></th>
                        <th data-hide="tablet"><nobr>新建时间</nobr></th>
                        <th data-hide="tablet"><nobr>修改时间</nobr></th>
                        <th data-toggle="true"><nobr>操作</nobr></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in CateList">
                        <td>{{$index + 1}}</td>
                        <td>{{item.cname}}</td>
                        <td>{{item.createtime}}</td>
                        <td>{{item.updatetime}}</td>
                        <td>
                            <span class="btn btn-success btn-xs" title="编辑类别" ng-click="openCateModal(1,item)">编辑</span>
                            <span class="btn btn-info btn-xs" title="添加类型" ui-sref="app.type_list({cateID:item.id,cateName:item.cname})">类型管理</span>
                            <span class="btn btn-danger btn-xs" title="删除类别" ng-click="deleteCate(item.id)">删除</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h3 class="m-l-md" ng-show="ShowListFlag">暂无相关内容，请添加！</h3>
        <script type="text/ng-template" id="myModalCategory">
            <div ng-include="'tpl/material/modal_category.html'"></div>
        </script>
        <toaster-container toaster-options="{'time-out': 2000}"></toaster-container>
    </div>
</div>
