<div ng-controller="MateListCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <p class="m-n font-thin h3"><span ng-show="CurTypeID"><span>{{CurTypeName}}</span>&nbsp;&gt;&nbsp;</span><span translate="aside.nav.MATERIAL.MATERIAL_LIST">MATERIAL_LIST</span></p>
    </div>
    <div class="wrapper-md" >
        <div class="panel panel-default">
            <div class="panel-body b-b b-light">
                <span translate="public.SEARCH">SEARCH</span>： <input id="filter" type="text" class="form-control input-sm w-sm inline m-r"/>
                <span class="pull-right">
                    <button class="btn btn-success btn-sm" ng-click="openMateModal(0,'')">添加</button>
                    <span class="btn btn-primary btn-sm">排序</span>
                </span>
            </div>
            <div>
                <table class="table m-b-none"  ui-jq="footable" data-filter="#filter">
                    <thead>
                        <tr>
                            <th>
                                编号
                            </th>
                            <th>
                                素材内容
                            </th>
                            <th data-hide="tablet">
                                新建时间
                            </th>
                            <th data-hide="tablet">
                                修改时间
                            </th>
                            <th data-toggle="true">
                                操作
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in MateList">
                            <td>{{$index + 1}}</td>
                            <td>{{item.content}}</td>
                            <td>{{item.createtime}}</td>
                            <td>{{item.updatetime}}</td>
                            <td>
                              <span class="btn btn-success btn-xs" title="修改类别信息" ng-click="openCateModal(1,item)">修改</span>
                              <span class="btn btn-info btn-xs" title="添加素材类型" ui-sref="app.type_list({cateID:item.id,cateName:item.cname})">类型管理</span>
                              <span class="btn btn-danger btn-xs" title="删除类别" ng-click="deleteCate(item.id)">删除</span>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <script type="text/ng-template" id="myModalMate">
            <div ng-include="'tpl/material/modal_mate.html'"></div>
        </script>
        <toaster-container toaster-options="{'time-out': 2000}"></toaster-container>
    </div>
</div>
</div>