<div ng-controller="TypeListCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <p class="m-n font-thin h3"><span>{{CurCateName}}</span>&nbsp;&gt;&nbsp;<span translate="aside.nav.MATERIAL.TYPE_LIST">TYPE_LIST</span></p>
    </div>
    <div class="wrapper-md">
        <div class="panel panel-default">
            <div class="panel-body b-b b-light">
                <span translate="public.SEARCH">SEARCH</span>： <input id="filter" type="text" class="form-control input-sm w-sm inline m-r"/>
                <span class="pull-right" ng-show="CurCateID">
                    <button class="btn btn-success btn-sm" ng-click="openTypeModal(0,'')">添加</button>
                    <span class="btn btn-primary btn-sm" ng-click="sortCate()">排序</span>
                </span>
            </div>
            <div class="wrapper-md">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row row-sm text-center" ng-show="!ShowListFlag">
                            <div class="col-xs-2 item clearfix" ng-repeat="item in TypeList">
                                <span ui-sref="app.material_list({cateID:CurCateID,cateName:CurCateName,typeID:item.id,typeName:item.tname})">
                                    <span class="thumbnail" style="height:0;padding-bottom: 100%;background: url('{{item.banner}}') no-repeat center center;background-size:contain;border:0" title="{{item.tname}}">
                                    </span>
                                    <span class="h4 block bottom w-full text-white font-thin m-b-lg" style="text-shadow:0.5px 0.5px 0.5px #353535;">{{item.tname}}</span>
                                </span>
                                <span class="block top text-right wrapper-lg" style="right:0">
                                    <span class="btn btn-success btn-xs" ng-click="openTypeModal(1,item)">编辑</span>
                                    <span class="btn btn-danger btn-xs" title="删除类型" ng-click="deleteType(item.id)">删除</span>
                                </span>
                            </div>
                        </div>
                        <h3 ng-show="ShowListFlag">暂无相关内容，请添加！</h3>
                    </div>
                </div>
            </div>
            <script type="text/ng-template" id="myModalType">
                <div ng-include="'tpl/material/modal_type.html'"></div>
            </script>
            <toaster-container toaster-options="{'time-out': 2000}"></toaster-container>
        </div>
    </div>
</div>